---
layout: default
---

<section>
  <h1>Projects</h1>

  <p>
    These are various projects I have worked on that have some web presence. Most of them are works in progress and the code is usually available at my <a href="https://github.com/slwu89">Github account</a>.
  </p>
</section>

<section>

  <h2>Web Apps</h2>

  <div class="grid t-hackcss-cards">

    {% for project in site.projects %}

    <div class="cell -6of12 t-hackcss-cards-cell">
      <div class="card">
        <header class="card-header">{{ project.name }}</header>
        <div class="card-content">
          <div class="inner">

            {% if project.image %}
            <img src="{{ project.image }}" class="t-hackcss-cards-image"
                 alt="{{ project.name }}"
                 title="{{ project.name }}" />
            {% endif %}

            <p class="t-hackcss-cards-text">{{ project.description }}</p>
            <p class="t-hackcss-cards-link">
              <a href="{{ project.link }}" title="{{ project.name }}" target="_blank">
                 {{ project.name }}
               </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</section>


<section>

  <h2>Presentations &amp; Text</h2>

  <div class="grid t-hackcss-cards">

    {% for text in site.presentations %}

    <div class="cell -6of12 t-hackcss-cards-cell">
      <div class="card">
        <header class="card-header">{{ text.name }}</header>
        <div class="card-content">
          <div class="inner">

            {% if text.image %}
            <img src="{{ text.image }}" class="t-hackcss-cards-image"
                 alt="{{ text.name }}"
                 title="{{ text.name }}" />
            {% endif %}

            <p class="t-hackcss-cards-text">{{ text.description }}</p>
            <p class="t-hackcss-cards-link">
              <a href="{{ text.link }}" title="{{ text.name }}" target="_blank">
                 {{ text.name }}
               </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</section>
